.main {
  width: min(100%, 736px);
  margin-inline: auto;
}

.statIndicatorsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 2.25rem;
}

.taskList {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  padding: 0;
  margin-top: 1.5rem;
}
