.iconButton {
  background-color: red;
  border-radius: 8px;
  display: flex;
  padding: 0.375rem;
  background-color: transparent;
  color: var(--gray-300);
  border: 0;
  line-height: 0;
  cursor: pointer;
  transition:
    color 150ms,
    background-color 150ms,
    opacity 100ms;
}

.iconButton:hover {
  background-color: var(--gray-400);
  color: var(--danger);
}

.iconButton:active {
  opacity: 0.8;
}
